@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background-color: #f3f4f6;
}
input:focus {
  outline: none;
  border: none;
}

.sx-react-calendar-wrapper {
  width: 1000px;
  height: 500px;
}
